@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*HEADER*/
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #34495e;
    color: white;
    
}
header h1{
    padding: 1em;
}
nav{
    
}
nav ul {
    display: flex;

}
nav li{
    display: flex;
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1em;
}
.icon_menu:before { 
    font-family: 'fontello';
    content: '\f0c9';
    font-size: 1.5em;
    display: none;
 }
.hello_user{
    padding: 1em;
    font-weight: bold;
}
@media screen and (max-width:700px){
    .menu {
        display: none;
        transition: 1s;
    }
    .icon_menu:before { 
        padding: 1em;
        display: block;
    }
   
    .icon_menu:hover .menu, li{
        
     width: 100%;
     display: flex;
     flex-direction: column;
     text-align: center;
     background: #34495e;
     height: 4em;
     
        
     }

}

/*PAGE CONNEXION*/

.main_connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}
.box{
    width:40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    color: white;
    background: #222f3e;
    justify-content: center;
    
}
.box h1{
    padding: 1em;
    font-weight: 400;
   
}
.box form{
    display: flex;
    flex-direction: column;
    width :100%;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}
.box input[type = "text"],.box input[type="password"]{
    background: transparent;
    text-align: center;
    border:2px solid #3498db;
    width: 30%;
    padding:1em;
    outline:none;
    color: white;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type="password"]:focus{
    width: 50%;
    border:2px solid #2ecc71;
}
.box button{
    background: transparent;
    text-align: center;
    border:2px solid #2ecc71;
    width: 20%;
    padding:1em;
    outline:none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
@media screen and (max-width:1200px){
    .box{
        width:50%
    }
    .box input[type = "text"],.box input[type="password"]{
        width:70%;
    }
    .box input[type = "text"]:focus,.box input[type="password"]:focus{
        width: 90%;
        
    }
    .box button{
        width: 40%;
    }
}
/*PAGE INDEX*/
.main_index{
   text-align: center;
}
.main_index h1, h2{
    padding: 1em;
}
.main_index h2:before, .main_index h2:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 3px;
    background: #000;
}
.news{
    display: flex;
    justify-content: space-around;
}
.infos{
    width:30%;
    padding: 1em;
    text-align: justify;
    box-shadow:5px 5px 11px -1px #000000;
    margin: 1%;
    
}
.infos a{
    text-decoration: none;
    color: black;
    padding: 0;
}
.infos img{
    width: 100%;
}
.infos p{
    padding:3% 0;
}
.infos span{
    font-weight: lighter;
    color: grey;
    padding: 1%;
    margin-top: auto;
}
.main_index a{
    color: black;
    text-decoration:none;
    padding: 0;
    font-weight: bold;
}
.main_index a:hover{
    opacity: 0.6;
}
.main_index p{
    padding: 1em;
    margin-bottom: 1%;
}

/*PAGE DISCUSSION*/
.main_talk{
    padding: 1%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add_comment{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.add_comment form{
    width:80%;
    display: flex;
    justify-content: center;
}
.add_comment button{
    width:20%;
    color: white;
    font-weight: bold;
    background:#3498db ;
    border: none;
    margin-left: 2%;
    
}
.add_msg{
    width: 80%;
    padding: 1%;
    

}
.message{
    width:80%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
    
}


.msg_content{
    width:80%;
    padding:1%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border-radius: 10px;
    
    
}

 

.msg_content:nth-child(even){
    background:#2ecc71 ;
    width: 40%;
    display: flex;
    align-items: flex-end;
   justify-content: center;
   

}

.msg_content:nth-child(odd){
    background:#3498db ;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

/*PAGE PROFIL*/

.main_profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main_profile h1{
    padding: 1em;
}
.form_profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
    width:50%;
    background:#222f3e ;
    color:white;
}
.form_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 100%;
    
}
.form_items label, input, a{
    padding: 1em;
    text-align: center;
    

}
.form_items input{
    width: 80%;
    color:black;
}
.form_items a {
    text-decoration: none;
    font-weight: bold;
    color:white;
    background: #3498db;
    margin: 1em;
    width:50%;
}
.update_profile{
    padding: 1em;
    font-weight: bold;
    background: #2ecc71;
    width: 80%;
}
.form_pwds{
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form_pwds input{
    width: 80%;
    margin: 1em;
    color: black;
}
.user_info{
    font-weight: bold;
}
/*Style message d'erreur ou de succès*/
.error{
    background: #f8d7da;
    width:50%;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    
    
   
  
}
.success{
    
    background: #d4edda;
    width:50%;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
/*PAGE INSCRIPTION*/
.main_register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main_register form{
    display: flex;
    flex-direction: column;

}

/*FOOTER*/
footer{
    height:15vh; 
    background: #34495e;  
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
footer p{
   padding: 1%;
   font-weight: lighter;
}
